body {
    
}
a {
    color:green
}

img {
    height: 220px;
    width: 220px;
    margin-left: 3%;
    margin-left: 5%;
    margin-top: 1%;
}

.info {
    margin-left:20%;
    color:green;
}


